@font-face {
    font-family: "Montserrat Regular";
    font-weight: normal;
    font-style: normal;
    src:
            url("../loco_elliss/fonts/Montserrat-Regular.woff") format("woff2"),
            url("../loco_elliss/fonts/Montserrat-Regular.woff2") format("woff");
}

@font-face {
    font-family: "Montserrat Medium";
    font-weight: 500;
    font-style: normal;
    src:     url("../loco_elliss/fonts/Montserrat-Medium.woff") format("woff"),
             url("../loco_elliss/fonts/Montserrat-Medium.woff2") format("woff2"); 
            
}

@font-face {
    font-family: "Montserrat bold";
    font-weight: bold;
    font-style: normal;
    src:     url("../loco_elliss/fonts/Montserrat-Bold.woff") format("woff"),
             url("../loco_elliss/fonts/Montserrat-Bold.woff2") format("woff2");
    
} 
@font-face {
    font-family: "Montserrat ";
    font-weight: 500;
    font-style: normal;
    src:     url("../loco_elliss/fonts/montserrat-medium-webfont.woff") format("woff"),
             url("../loco_elliss/fonts/montserrat-medium-webfont.woff2") format("woff2");