@font-face {
    font-family: "Montserrat Regular";
    font-weight: normal;
    font-style: normal;
    src:
            url("fonts/Montserrat-Regular.woff") format("woff2"),
            url("fonts/Montserrat-Regular.woff2") format("woff");
}

@font-face {
    font-family: "Montserrat Medium";
    font-weight: 500;
    font-style: normal;
    src:     url("fonts/Montserrat-Medium.woff") format("woff"),
             url("fonts/Montserrat-Medium.woff2") format("woff2"); 
            
}

@font-face {
    font-family: "Montserrat bold";
    font-weight: bold;
    font-style: normal;
    src:     url(" fonts/Montserrat-Bold.woff") format("woff"),
             url(" fonts/Montserrat-Bold.woff2") format("woff2");
    
} 
