body {
   
    margin: 0 auto;
    font-family: Montserrat;
}

/*
.title {
    Font family: Montserrat;
    Font style: Bold;
    Font size: 80px;
    Line height: 81.92px;
    Line height: 84%;
    Align: Left;
    color: #000;
}
*/
/* Header */

.header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    
}

 .header__loco-wrap {
        display: flex;
        justify-content: space-between;
        width: 461px;
        background: #000;
    }
.header__logo {
    display: flex;
    background: #000000;
    height: 100%;
}

.header__logo-loco { 
    padding: 36px 0 0 52px;
    width: 98px;
    height: 37px;
    color:#f5f5f3;
    font-size: 30px;
}
.header__lang-switcher {
    display: flex;
    justify-content: flex end;
}

 .header__lang-switcher {
        position: relative;
        display: block;
        width: 50px;
        align-self: center;
        padding: 14px 20px 0 0;
    }

    .header__lang-ru {
        text-decoration: none;
        cursor: pointer;
        color: #FFF;
        font-weight: 426px;
        line-height: normal;
        font-size: 20px
    }

.header__menu {
    display: flex;
    align-self: flex-end;
    width:92px; 
    height:92px;
    background: #f5f5f3;
    cursor: pointer;
}

.header__burger {
    align-self: center;
    margin: auto;
}

.header__burger-line {
    display: block;
    width: 26px;
    height: 3px;
    background: black;
}
 .header__burger-line {
        width: 35px;
        height: 4px;
    }
     .header__burger-line:first-of-type {
        margin-bottom: 5px;
    }


   
    @media  (max-width : 320px) {
         .header__logo-loco{
           position: absolute;
           font-weight: normal;
           line-height: 52px;
           font-size: 30px;
           position: absolute;
           width: 317px;
           height: 69px;
           left: 0px;
           top: 0px;
           background: #FFFFFF;
         }
        .header__lang-ru {
            visibility: hidden;
            direction: none;
        }
        .header__menu {
            display: flex;
           justify-content: flex-end;
            width: 70px; 
            height: 69px;
            background: #f5f5f3;
            cursor: pointer;
            position: absolute;
            left: 326.49px;
            top: 0;
        }
        .header__burger {
            align-items: center;
            margin: auto;
            float: none;
        }
       .header__burger-line  {
        display: block;
        width: 26px;
        height: 3px;
        position: absolute;
        left: 326.49px;
      /*  top: 35.73px;*/
        background: #000000;
       }
       .header__burger-line {
        width: 35px;
        height: 3 px;
    }
     .header__burger-line:first-of-type {
        margin-bottom: 5px;
    }
        }
/* First  section */

.collection {
    
   
    width: 1440px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
  justify-content: space-between;
  }
  
.collection__wrap{
    background: linear-gradient(to right, #000 461px, #FFF 461px);
    height: 900px;
    display: flex;
    flex-flow: column;
    justify-content:space-between;
      
} 
.collection__wrap-img {
    background-image: url(/images/girl.png); 
    background-repeat: no-repeat;
    background-position: left center;
    background-size:auto;
    padding-top: 160px;
    padding-left: 200px;
}
/*
.collection__wrap-text {
    height: 900px;
}*/
.collection__title {
    padding-top: 160px;
    width: 475px;
    height: 164px;
    padding: 0 789px;
    font-weight: bold;
    line-height: 82px;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

 .collection__text {
        font-family: Montserrat;
        font-weight:normal;
        line-height: 21px;
        font-size: 15px;
        font-style: normal;
      
        width: 467px;
        height: 127px;
        top: 63px;
        padding: 0 789px;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        
    }

.button {
    background:local;
}
.collection__buttons{
        color: #000;
        display: flex;
        justify-content: space-between;
        width: 490px;
        padding: 0 780px;
      /* position: absolute;
        top: 600px;
        left: 789px;*/
}

.collection__link.button{
      border: 1.5px solid #000;
      text-decoration:none;
      text-align: center;
      line-height: 3.5em;
      width: 203px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      color: black;
      cursor: pointer;

}

.collection.link{
      text-decoration:none;
      width: 300px;
      line-height: 3.5em;
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      color: black;
      cursor: pointer;
      position: relative;
}

.collection.link.link::after {
    position: absolute;
    top: 17px;
    right: 0;
    display: block;
    content: "";
    width: 440px;
    height: 12px;

}

.collection__social-list{

    cursor: pointer;
    display: flex;
    justify-content:space-between;
    width: 153px;
    list-style: none;
}


/* для мобильной версии*/

@media (max-width: 320px )  {
    .collection__title {
        text-align: center;
    }
    .collection__text, .collection__buttons, .collection__social {
        visibility: hidden;
        direction: none; 
    }

    .collection__wrap-img {
        background-image: url(../images/girl.png);
        position: absolute;
        width: 540.25px;
        height: 600px;
        left: -74px;
        top: 71px;
    }
    .collection__title {
        position: absolute;
        width: 297px;
       height: 103px;
       left: 26px;
       top: 450px;
       font-family: Montserrat;
       font-style: normal;
       font-weight: bold;
       font-size: 50px;
       line-height: 51px;
       color: #000000;
     }
}