body {
   max-width: 1440px;
    margin: 0 auto;
    font-family:  Arial, sans-serif;
}


/* Header */

.header {
    width: 1440px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
   
       
}


.header__loco-wrap {
        display: flex;
        justify-content: space-between;
        width: 461px;
        background: #000;
    }
.header__logo {
    display: flex;
    background: #000000;
    height: 100%;
    font-weight: normal;
    font-style: normal;
}

.header__logo-loco { 
    padding: 36px 0 0 52px;
    width: 98px;
    height: 37px;
    color:#f5f5f3;
    font-family: 'Montserrat Medium';
    font-size: 32px;
}
.header__lang-switcher {
    display: flex;
    justify-content: flex end;
}

.header__lang-switcher {
        position: relative;
        display: block;
        width: 50px;
        align-self: center;
        padding: 14px 20px 0 0;
    }

.header__lang-ru {
        text-decoration: none;
        cursor: pointer;
        color: #FFF;
        font-family: "Montserrat Medium";
        line-height: normal;
        font-size: 20px;
        background-image: url(images/Vector.png); 
        background-repeat: no-repeat;
         background-position: right ;
         display: flex;
         justify-content: space-between;
    }

.header__menu {
    display: flex;
    align-self: flex-end;
    width:92px; 
    height:92px;
    background: #f5f5f3;
    cursor: pointer;
}

.header__burger {
    align-self: center;
    margin: auto;
}

.header__burger-line {
    display: block;
    width: 26px;
    height: 3px;
    background: black;
}
 .header__burger-line {
        width: 35px;
        height: 4px;
    }
     .header__burger-line:first-of-type {
        margin-bottom: 5px;
    }


   
    
/* First  section */

.collection {
    max-width: 1440px;
    max-height: 900px;
  }
  
.collection__wrap{
    background: linear-gradient(to right, #000 461px, #FFF 461px);
    height: 808px;
    display: flex;
    width: 1440px;
   } 
.collection__wrap-img {
    background-image: url(images/girl.png); 
   background-repeat: no-repeat;
    background-position: right ;
    width: 540px;
    height: 562px;
    padding-top: 157px;
    padding-left: 196px;
    
}

.collection__wrap-text {
    display: flex;
    flex-direction: column;
    padding-left: 51px;
}
.collection__title {
    padding-top: 180px;
    width: 475px;
    height: 164px;
    margin: 0 0 0 2px;
    font-family: "Montserrat bold";
    font-weight: bold;
    font-style: normal;
    line-height: 81.92px;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

 .collection__text {
        padding-top: 12px;
        margin: 3px;
        font-family: "Montserrat Regular";
        font-weight:normal;
        line-height: 21.03px;
        font-size: 15px;
        font-style: normal;
        width: 467px;
        height: 127px;
       
               
}
.collection__buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 44px;
        padding-top: 25px;
        padding-left: 1px;
        padding-bottom: 22px;
        margin: 8px;
        margin-left: 0px;
        text-transform: uppercase;
}

.button{
      border: 1.5px solid #000;
      text-decoration:none;
      line-height: 3.5em;
      width: 196px;
      height: 44px;
      font-family: "Montserrat medium";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      color: black;
      cursor: default;
      letter-spacing: 0px;
      text-align: center;
      }

.link{
      text-decoration:none;
      line-height: 2.5em;
      font-size: 13px;
      color: black;
      cursor: default;
      font-family: "Montserrat medium";
      padding-left: 28px;
      padding-top: 7px;
}
.vector3 {
display: flex;
align-self: center;
padding-left: 11px;
}

.collection__social{
  display: flex;
  justify-content: space-between;
   align-items: center;
}
.collection__social-list{

    cursor: pointer;
    display: flex;

    width: 153px;
    list-style: none;
    
}

.social__link_instagram {
    padding-left: 50px;
    padding-top: 1px;
 
}
.social__link_vkontakte {
    padding-left: 14px;
    padding-top: 1px;
} 

.social__link_facebook{
    padding-left: 14px;
    padding-top: 1px;
}
.retangle {
    flex: auto;
    display: flex;
    background-image: url(images/Scrooll.png); 
    background-repeat: no-repeat;
    background-position: right ;
    width: 27px;
    height: 46px;
    align-items: flex-start;
    align-self: flex-end;
    z-index: 0;
    margin: 2px;
    padding-left: 50px;
    padding-top:-1px;
}

/*-------second section--------*/

.product{
    background-color: #FAE8E4;
    width: 1440px;
    height: 900px;
    margin-top: 0px;
}
.product__wrap{
    display: flex;
    width: 1440px;
    height: 900px;
}
.product__wrap-img{
    width: 682px;
    height: 844px;
    display: flex;
    
}
.product__img-white{
    padding-top: 219px;
    width: 398px;
    height: 415px;
    z-index: 1;
    padding-left: 137px;
}
.product__img-beige{
 margin-left: -305px;
    width: 582px;
    height: 844px;
    padding-top: 33px;
    z-index: 2;
}
.product__wrap-blok{
    width: 488px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.product__wrap-text{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 385px;
    height: 488px;
    margin: 168px 73px 0px 197px ;
    padding: 33px 62px 39px 41px;
}
.product__title {
   
    width: 340px;
    height: 41px;
    font-family: "Montserrat bold";
    font-weight: bold;
    font-style: normal;
    line-height: 41.92px;
    font-size: 40px;
    margin: 12px;
}
.subtitle{
    padding-top: 2px;
    padding-left: 12px;
    margin: 0px;
    font-family: "Montserrat bold";
    font-weight:normal;
    line-height: 16.38px;
    font-size: 16px;
    font-style: normal;
    width: 235px;
    height: 17px;
    letter-spacing: 0.07em;
}
.description{
    font-family: "Montserrat medium";
    font-weight:normal;
    line-height: 21.3px;
    font-size: 15px;
    width: 370px;
    height: 148px;
   padding-top: 46px;
   padding-left: 12px;
   opacity: 50%;
}
.product__buttons{
    display: flex;
    padding: 32px 0px 0px 0px;
}
.product__select-color{
    display: flex;
}

.select__item_white img{
   margin-left: 15px;
   padding-top: 4px;
   width: 30px;
   height: 30px;
}
.select__item_red img {
  margin-left: 12px;
  width: 38px;
  height: 38px;
}
.select__item_blue img {
    margin-left: 12px;
    padding-top: 4px; 
    width: 30px;
    height: 30px;
}
.select__item_green img {
    margin-left: 12px;
    padding-top: 4px; 
    width: 30px;
    height: 30px;
   }
.product__price{
    margin-left:68px;
    width: 125px;
    height: 57px;
    font-family: "Montserrat Bold";
    line-height: 16.38px;
    font-size: 40px;
    padding-top: 8px;
   
}
.product__cart-form{
     display: flex;
     padding-top: 14px;
}
.product__quantity{
    width: 100px;
    height: 44px;
    padding-top: 13px;
    padding-left: 14px;
    
}

.product__add{
  background-color: #FFFFFF;
  margin: 12px 0 0 12px;
  padding: 2px 0 0 0px;
  width: 256px;
  height: 47px;
  font-family: "Montserrat Medium";
  font-size: 13px;
  line-height: 0px;
}
.product__link{
    width: 550px;
    height: 58px;
    padding-top: 30px;
    margin-left: 175px;  
}
.vector22{
    padding-left: 6px;
    padding-top: 52px;
}
/* секция 3 */

.look{
    width: 1440px;
    height: 876px;
}
.look__wrap {
    display: flex;
    width:1440px;
    background-color:  #EBE3D8;
    height: 100%;
}
.look__wrap-img{
    z-index: 2;
    width: 646px;
    height: 655px;
    padding-left: 87px;
    padding-top: 142px;
}
.look__black{
    z-index: 1;
    margin-left: -345px;
    margin-top: 0 px;

}
.look__line  img{
    width: 73px;
    height: 896px;
}
.look__wrap-block{
    width: 488px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 3;
   }
.look__wrap-text {
    display: flex;
    flex-direction: column;
    background-color:#FAE8E4;
    width: 429px;
    height: 346px;
    margin: 259px 73px 0px 356px ;
    padding: 3px 0 0 47px;
   
}
.look__title {
    margin: 32px 0px 14px 0px;
    width: 375px;
    height: 41px;
    font-family: "Montserrat bold";
    font-weight: bold;
    font-style: normal;
    line-height: 41.92px;
    font-size: 40px;
}
.look__subtitle{
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    font-family: "Montserrat bold";
    font-weight:normal;
    line-height: 16.38px;
    font-size: 16px;
    font-style: normal;
    width: 235px;
    height: 17px;
    letter-spacing: 0.07em;
}
.look__description{
       font-family: "Montserrat medium";
       font-weight:normal;
       line-height: 21.3px;
       font-size: 15px;
       width: 368px;
       height: 101px;
       padding-top: 18px;
       padding-left: 4px;
       word-break: normal;
       opacity: 50%;
    }
.look__cart-form{
    display: flex;
}
.look__quantity{
    width: 100px;
    height: 44px;
    background-color: #FFF;
}

.look__add{
background-color: #FFFFFF;
margin:2px 0 0 12px;
padding-left: 12px;
width: 253px;
height: 44px;
font-family:"Montserrat medium";
font-size: 13px;

}
.look__link{
    width: 375px;
    height: 58px;
    padding: 14px 0px 0px 4px; 
    margin: 9px 0px 0px 454px; 
    display: flex;
   }

.vector23 img{
    padding-left: 13px;
    padding-top: 18px;
}

/*footer*/

.footer__created{
  display: flex;
  justify-content: flex-end;
  background-color: #EBE3D8;
  width: 1440px;
  height: auto;
}
.footer__created-txt{
    font-size: 12px;
    font-family:"Montserrat bold";
    font-weight: bold;
    width: 127px;
    height: 15px;
    margin-top:  -5px;
}
.footer__webhero img{
    width: 81px;
    height: 26px;
    padding: 0px 22px 0px 0px;
    margin-top: -9px;
}
/*для мобильной версии 768 px*/

@media only screen and (max-width: 770px){
    .body{
     margin: 0 auto;
     height: auto;
     max-width:768px;
      }
     .header{
      max-width: 768px;
      background: #f5f5f3;
      display: flex;
      justify-content: space-between;
      height: 69px;

     }
   
     .header__loco-wrap{
         background-color:#FFF;                     ;
         display: flex;
         justify-content: flex-start;
        min-width: 698px;
     }
     .header__logo-loco{
         color:#000;
         left: 26px;
         padding: 16px 0 0 22px;
         width: 98px;
         height: 37px;
         font-family: "Montserrat bold";
         font-size: 40px;
     }
    .header__lang-ru {
             visibility: hidden;
             direction: none;
         }
     .header__menu {
             width: 70px; 
             height: 69px;
             background:#f5f5f3;
             cursor: pointer;
             
         }
     .header__burger {
             width: 70px; 
             height: 69px;
             background: rgb(243, 241, 241);
             cursor: pointer;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
      }
  
     .header__burger-line  {
         background: #000000;
         width: 25px;
         height: 4px;
     }
     .header__burger-line > span::before{
         content: '';
         top: 5px;
     }
     .header__burger-line > span::after{
         content: '';
         top: 5px;
        }
 .collection{
     max-width: 768px;
     max-height: 1024px;
     
 }
 
  
  .collection__text, .collection__buttons, .collection__social {
         visibility: hidden;
         direction: none; 
         display: none;
      }
     
 .collection__wrap{
    background-color: #FFF;
     max-width: 768px;
     max-height: 1024px;
     display: block; 
    } 
 
 
 .collection__wrap-img {
     background-image: url(images/mob_girl.png);
     background-repeat: no-repeat;
     background-size: cover;
     z-index: 0;
     width: 570px;
     height: 1024px;
     }
     
     .collection__title {
        position: absolute;
        padding-top: 100px;
        top: 754px;
        width: 297px;
        height: 103px;
        left:300px;
        font-family: "Montserrat bold";
        font-size: 72px;
        line-height: 70px;
        color: #000000;
         
      }
      .vector {
         background-image: url(images/Vector2.png);
         background-size: cover;
         background-repeat: no-repeat;
         position: absolute;
         width: 65px;
         height: 40px;
         left: 378px;
         top: 1032px;
         z-index: 1;
     }

.product{
    margin-top: 375px;
    max-width: 768px;
    height: 1024px;
        }
.product__wrap{
     display: block;
     width: 768px;
     height: 1024px;
        }
.product__img-white, .product__link, .product__quantity {
     direction: none; 
     display: none; 
     visibility: hidden;
}

.product__img-beige{
    margin-left: 200px;
    width: 376px;
    height: 596px;
}
.product__wrap-text{
    width: 400px;
    height: 370px;
    background-color:#FFF;
    margin: -340px 0 0 155px ;
    padding: 55px;
    z-index: 2;
}
.product__title{
    margin: 10px;
}
.subtitle{
    padding-top: 6px;
}
.description{
    padding-top: 10px;
}
.product__buttons{
    padding: 2px 0px 0px 0px;
}
.product__cart-form{
    padding-top: 4px;
    padding-left: 55px;
}
.look{
   
    max-width: 768px;
    max-height: 1024px;
        }

.look__wrap{
    display: block;
    max-width:768px;;
    max-height: 1024px;
   }
.look__wrap-img{
    width: 700px;
    height: 411px;
    padding-top: 5px;
    padding-left: 15px; 
}
.look__set{
    max-width: 700px;
    max-height: 70%;
    padding-top: 57px;
    padding-left: 20px;
    z-index: 2;
    position: absolute;
}

.look__black{
   z-index: 1;
    position: absolute;   
    margin-top: -417px; 
    margin-left: 150px;
}
.look__line img {
    width: 73px;
    height: 1024px;
}
 .look__wrap-block{
        width: 488px;
        height: 50%;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 5;
       }
.look__wrap-text {
        display: flex;
        flex-direction: column;
        background-color:#FAE8E4;
        width: 429px;
        height: 346px;
        margin: 84px 73px 0px 174px ;
        padding: 3px 0 0 47px;
       
    }
.look__title {
        margin: 34px 0px 14px 0px;
        width: 375px;
        height: 41px;
        font-family: "Montserrat bold";
        font-weight: bold;
        font-style: normal;
        line-height: 41.92px;
        font-size: 40px;
    }
.look__subtitle{
        padding-top: 2px;
        padding-left: 0px;
        margin: 0px;
        font-family: "Montserrat bold";
        font-weight:normal;
        line-height: 16.38px;
        font-size: 16px;
        font-style: normal;
        width: 235px;
        height: 17px;
        letter-spacing: 0.07em;
    }
.look__description{
           font-family: "Montserrat medium";
           font-weight:normal;
           line-height: 21.3px;
           font-size: 15px;
           width: 368px;
           height: 101px;
           padding-top: 18px;
           padding-left: 4px;
           word-break: normal;
        }
.look__cart-form{
        display: flex;
    }
 .look__quantity, .footer__created {
        visibility: hidden;
         direction: none; 
         display: none;
      }
.look__link{
        width: 375px;
        height: 58px;
        padding: 14px 0px 0px 4px; 
        margin: 9px 0px 0px 318px; 
       }
 }
/*для мобильной версии 375 px*/

@media only screen and (max-width: 380px){
   .body{
    margin: 0 auto;
    height: 100%;
    max-width: 380px;
    
   }
   .header{
    max-width: 380px;
    height: 69px;
    position: relative;
    z-index: 50;

   }
   .header__loco-wrap{
   
   min-width: 305px;
}
    .header__logo-loco{
        color:#000;
        left: 26px;
        padding: 16px 0 0 26px;
        width: 98px;
        height: 37px;
        font-family: "Montserrat Medium";
        font-size: 30px;
        line-height: 37.57px;
        text-align: center;
        letter-spacing: 0.07em;
       
    }
   .header__lang-ru {
            visibility: hidden;
            direction: none;
        }
    .header__menu {
            width: 70px; 
            height: 69px;
            background:#f5f5f3;
            cursor: pointer;
            
        }
    .header__burger {
            width: 70px; 
            height: 69px;
            background: rgb(243, 241, 241);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
     }
 
    .header__burger-line  {
        background: #000000;
        width: 25px;
        height: 4px;
    }
    .header__burger-line > span::before{
        content: '';
        top: 5px;
    }
    .header__burger-line > span::after{
        content: '';
        top: 5px;

 }
.collection{
    max-width: 380px;
   max-height: 500px;
}

 
 .collection__text, .collection__buttons, .collection__social {
        visibility: hidden;
        direction: none; 
        display: none;
    }
    
.collection__wrap{
   background-color: #FFF;
    max-width: 380px;
    max-height:528px;  
} 

.collection__wrap-contener{
    max-width: 380px;
    max-height:528px;  
}
.collection__wrap-img {
       background-image: url(images/mob_girl.png);
        background-repeat: no-repeat;
        position: relative;
        z-index: 4;
        padding-top: 40px;
        padding-left:175px;
        width: 206px;
        height: 536px; 
        margin-top: -50px;            
    }
    
    .collection__title {
       position: absolute;
       z-index: 5;
       padding-top: 8px;
       top: 427px;
       width: 297px;
       height: 103px;
       left: 25px;
       font-family: "Montserrat bold";
       font-style: normal;
       font-weight: bold;
       font-size: 50px;
       line-height: 51px;
       color: #000000;
               
     }
     .vector {
        background-image: url(images/Vector2.png);
        background-size: cover;
        position: absolute;
        width: 30px;
        height: 20px;
        left: 174px;
        top: 560px;
        z-index: 5;
    }

    .product{
        margin-top: 0px;
       max-width: 380px;
        max-height: 674px;
     }
    .product__wrap{
      display: block;
      width: 380px;
      height: 596px;
            }
     .product__wrap-blok{
        max-width: 379px;
        max-height: 405px;
        display: flex;
        flex-direction: column;
            }
    .product__img-white, .product__link, .product__quantity {
        direction: none; 
         display: none; 
         visibility: hidden;
    }
    
    .product__img-beige{
        margin-left: 80px;
        margin-top: -8px;
        width: 224px;
    height: 326px;
    position: absolute;
    z-index: 3;
    }
    .product__wrap-text{
        width: 320px;
        height: 281px;
        background-color:#FFF;
        margin: -501px 33px 0 29px ;
        padding: 1px;
        z-index: 2;
    }
    .product__title{
        margin: 0px;
        font-size: 20px;
        line-height: 20px;
        width: 192px;
        height: 23px;
        padding-left: 29px;
        padding-top: 15px;
    }
    .subtitle{
        padding-top: 1px;
        padding-left: 31px;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.07em;
    }
    .description{
        font-family:"Montserrat Regular"; ;
        margin-top: 5px;
        padding-top: 0px;
        padding-left: 31px;
        font-size: 9px;
        line-height: 13px;
        width: 252px;
        height: 84px;
    }
    .product__buttons{
        padding: 3px 0px 0px 16px;
    }
    .product__cart-form{
        padding-top: 4px;
        padding-left: 55px;
        
    }
    .product__wrap-img{
        width: 379px;
        height: 844px;
        display: flex;
    }
    .select__item_white img {
        margin-left: 21px;
        padding-top: 0px;
        width: 23.35px;
        height: 22.89px;
     }
     .select__item_red img{
       margin-left: 6px;
       margin-top: -4px;
       width: 29.39px;
       height: 29px;
     }
     .select__item_blue img {
         margin-left: 9px;
         margin-top: -4px;
         width: 23.35px;
        height: 22.89px;
     }
     .select__item_green img {
         margin-left: 9px;
         margin-top: -4px;
         width: 23.35px;
        height: 22.89px; 
     }
    .product__price{
        font-size: 20px;
        line-height: 28px;
        font-family:"Montserrat bold";
        width: 70px;
        height: 32px;
        margin-top: -10px;
        margin-left: 59px;
    }
    .product__add{
        background-color: #FFFFFF;
        margin: 23px 0 0 -25px;
        padding: 2px 0 0 0px;
        width: 260px;
        height: 37px;
        font-family: "Montserrat Medium";
        font-size: 13px;
        line-height: 0px;
    }
     .look {
        margin-top: 0px;
       max-width: 380px;
       max-height: 596px;
     }
    .look__wrap{
      display: block;
      max-width: 380px;
      max-height: 596px;
      }
      .look__wrap-img{
        width: 369px;
        height: 411px;
        padding-top: 5px;
        padding-left: 15px; 
    }
    .look__quantity {
        direction: none; 
         display: none; 
         visibility: hidden;
    }
    .look__set{
        max-width:348px;
        max-height: 41%;
        padding-top: 30px;
        padding-left: 0px;
        z-index: 2;
        position: absolute;
    }
    .look__black{
        margin-top: -416px;
        margin-left: 100px;
    }
    .look__line img{
        width: 44px;
        height: 597px;
        
    }
    
    .look__wrap-block{
        width: 305px;
        height: 165px;
        margin: 0px 73px 0px 23px ;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 5;
       }
.look__wrap-text {
        display: flex;
        flex-direction: column;
        background-color:#FAE8E4;
        width: 300px;
        height: 195px;
        margin: -143px 73px 0px 23px ;
        padding: 3px 0 0 26px;
       
    }
.look__title {
        margin: 24px 0px 0px -3px;
        width: 245px;
        height: 26px;
        font-family: "Montserrat bold";
        font-weight: bold;
        font-style: normal;
        line-height: 20px;
        font-size: 20px;
    }
.look__subtitle{
        padding-top: 2px;
        padding-left: 0px;
        margin:-13px 0px 0px --21px;
        font-family: "Montserrat bold";
        font-weight:normal;
        line-height: 10px;
        font-size: 10px;
        font-style: normal;
        width: 144px;
        height: 11px;
        letter-spacing: 0.07em;
    }
    .look__description{
        font-family: "Montserrat medium";
        font-weight:normal;
        line-height: 12.6px;
        font-size: 9px;
        width: 228px;
        height: 40px;
        padding-top: 0px;
        padding-left: 0px;
        word-break: normal;
     }
     .look__cart-form{
         width: 266px;
         height: 37px;
     }
     .look__add{
        background-color: #FAE8E4;
        margin:10px 0 0 0px;
        padding-left: 0px;
        width: 260px;
        height: 39px;
        font-family:"Montserrat medium";
        font-size: 13px;
        
        }
        .look__link{
            width: 167px;
            height: 58px;
            display: flex;
            flex-direction: column;
            margin: 0 0 0 138px;
            padding: 29px 0 0 0;
           }
        .link{
            font-size: 15px;
            line-height: 18px;
           
        }
        .vector23 img{
            padding-left: 29px;
            padding-top: 7px;
            width: 137px;
        }
        .footer__created {
            display: none;
        }
}